.profile {
  background: #f75d59;
  height: 60px;
  margin-top: 40px;
  /* border: 1px solid black; */
}
/* hr{
  height: 70%;
  border: 0.5px solid black;
  width: 100%;
} */
.list__item{
                /* border: 1px solid black; */
              padding: 5px;
              height: 40px;
              margin-left: -30px;
              text-decoration: none;
              cursor: pointer;
              transition: 0.8s;
              position: relative;
              overflow: hidden;
}
.list__item li:hover{
  background: #f75d59;

}
.list__item li{
  text-decoration: none;
  /* border: 1px solid black; */
  font-family: 'Shippori Mincho B1', serif;
  color: black;
   box-shadow: 0px 1px #888888;
   background-color: #fff;

}

.profile h2 {
  display: flex;
  font-family: "PT Serif", serif;
  margin-top: -5px;
  margin-left: 90px;
  padding: 20px;
  font-weight: 50;
  color: #ffff;
  font-size: 140%;
  position: absolute;
  z-index: 1;
}
.profile__image {
  margin-left: 20px;
  margin-top: -90px;
  /* padding: 10px; */
  position: absolute;
  z-index: 2;
  height: 60px;
  width: 70px;
}

.profile__image img {
  height: 60px;
  width: 70px;
}
